<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    
    <meta name="viewport" content="initial-scale=1.0">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="<%= description %>">
    <meta name="author" content="<%= author %>">
    <meta name="apple-mobile-web-app-title" content="Photos">
    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-switch.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
    <script src="/js/jquery-1.7.1.min.js"></script>
    <script src="/js/piecon.min.js"></script>
    <script src="/js/bootstrap-switch.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

  </head>

  <body data-offset="400" data-spy="scroll" onload="window.top.scrollTo(0, 1);" ng-controller="AppController">



    <!-- NAVBAR
    ================================================== -->
    <!-- Wrap the .navbar in .container to center it on the page and provide easy way to target it with .navbar-wrapper. -->
    <div class="container navbar-wrapper">

      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">
            <img src="/img/allyourphotos.png" alt="All Your Photos" title="All Your Photos">
          </a>
          <div class="nav-collapse">
            <ul class="nav">
             <li class="active"><a href="/">Home</a></li>

             <%if (user) {%>
               <li><a href="/me/wall">Photo wall</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Import photos<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/auth/dropbox">Dropbox</a></li>
                  <li><a href="/auth/instagram">Instagram</a></li>
                  <li><a href="/auth/flickr">Flickr</a></li>
                  <li><a href="/auth/facebook">Facebook</a></li>
                  <li><a href="#upload" role="button" data-toggle="modal">Manual upload</a></li>
                </ul> 
              </li>

             <%} else {%>
               <li><a href="pricing">Pricing</a></li>
             <%}%>

             <li class=""><a href="/about">About</a></li>

            </ul>
            <ul class="nav pull-right">
             <%if (user) {%>  
               
               <li class="pull-right"><a href="/logout">
                <%if (user && user.accounts.facebook) {%>
                <img src="http://graph.facebook.com/<%= user.accounts.facebook.id%>/picture" class="me">
               <% }%>Logout</a></li>
             <%} else {%>
               <li class="pull-right"><a href="#login" role="button" data-toggle="modal">Login or register</a></li>
             <%}%>
            </ul>
          </div>

        </div><!-- /.navbar-inner -->
      </div><!-- /.navbar -->

    </div><!-- /.container -->



      <%- body %>


      <div class="container">

      <div id="login" class="modal hide login container" ng-controller="LoginController"> 

          <div class="modal-header">
            <h1>
              Login or register
              <a class="close" data-dismiss="modal" href="/me/wall" >&times;</a>
            </h1>
            <p class="lead">
              It's supereasy to create an account, just enter email and choose a password or use our social buttons. We will NEVER spam your wall.
            </p>
          </div>
          <div class="row modal-body" >

            <div class="span4">
              <form class="well clearfix" action="/login" method="post">
                <input class="span3" type="email" autofocus required ng-model="username" id="username" placeholder="Email">
                <input class="span3" type="password" required pattern=".{4,}" ng-model="password" id="password" placeholder="Password">
                <input type="submit" class="btn span3 pull-left btn-success" value="Login" ng-show="!register" ng-click="submit">

                <label ng-show="register"><input type="checkbox" ng-model="agree"> I agree with the terms &amp; conditions</a>
                <input type="submit" class="btn span3 pull-left btn-success" value="Register" ng-show="register" ng-click="submit">

              </form>

            </div>
            <div class="span3 ">
              <h1>or..</h1>
              <a class="btn span3 btn-large" href="/auth/facebook"><i class="icon icon-facebook"></i> Facebook</a>
              <a class="btn span3 btn-large" href="/auth/twitter"><i class="icon icon-twitter"></i> Twitter</a>
            </div>

          </div>


          <div class="modal-footer">
            <a href="/" class="btn btn-large pull-right" >Close</a>
          </div>
        </div>


      <div id="upload" class="modal hide" ng-cloak ng-controller="UploadController" dropzone> 

        <div class="modal-header">
          <h1>
            Upload Photos to Your Timeline
            <a class="close" data-dismiss="modal" href="/me/wall" >&times;</a>
          </h1>
          <p class="lead">
            Drag and drop your Photos folders below. If you have many folders, just add them all. If you get interrupted, try again and we will continue where you left off. 
          </p>
        </div>
        <div id="dropzone" class="dropzone media modal-body" >
        
          <div class="instructions" ng-show="!files.length">
            <i class="icon-folder-open icon-4x pull-left" > </i>
            <label> Drag and drop a photo folder or SD card here...
              <input ng-show="false" class="btn-large span3 btn-success" type="file" id="directoryinput" multiple webkitdirectory ng-model="selectedFolder" ng-change="fileChange">
            </label>
          </div>
          <ul class="media-list">
            <li class="media span2 {{file.state}}" ng-repeat="file in files">
              <img src="{{file.thumbnail}}" ng-cloak ng-show="file.thumbnail" class="pull-left"/>
              <a class="{{file.state == 'Duplicate' && 'icon-cloud' || file.state == 'Uploading' && 'icon-circle-arrow-up' || 'icon-cloud-upload' }} pull-left icon-2x"> </a>
              <div class="media-body">
                <h4 class="media-heading">{{file.name}}</h4>
                <div class="progress progress-striped {{file.state == 'Uploading' && 'active' || ''}}">
                  <div title="{{file.error}}" class="bar {{file.state == 'Error' && 'bar-danger' || file.state == 'Done' && 'bar-success' || ''}}" style="width: {{file.progress || 0}}%;">{{file.state}}</div>
                </div>
              </div>
            </li>
          </ul>

        </div>
        <div class="modal-footer">
          <div class="span2 pull-left" ng-show="uploading"><input type="range" min="0" max="10" ng-model="channels"> 
            {{channels}} upload channels
          </div>

          <div class="span4 pull-left alert" ng-show="!uploading">
            You may need <a href="http://google.com/chrome">Google Chrome</a> to use this feature.
          </div>
          <a href="#" class="btn btn-large {{uploading && 'btn-danger' || 'btn-success'}} pull-right ng-binding" ng-disabled="!files.length" ng-click="uploading = !uploading">{{(queue.length && 'Uploading ' + files.length) + " photos..." || "Upload"}}</a>
        </div>

      </div>

    </div>

    <script src="/controllers/upload.js"></script>
    <script src="/controllers/user.js"></script>

    <script src="/js/binaryFile.js"></script>
    <script src="/js/exif.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37801866-1']);
      _gaq.push(['_setDomainName', 'allyourphotos.org']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      var socket = io.connect({port:3000});

    </script>

    <script src="/js/bootstrap.js"></script>
    <script src="/controllers/app.js"></script>
  </body>
</html>
    
  </body>
</html>