
        

    <!-- Carousel
    ==================================================
    <div id="myCarousel" class="carousel slide" data-interval="5000">
      <div class="carousel-inner">
        <div class="item first">
          <img src="/photos/random/1" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Your photos deserve a better life</h1>
              <p class="lead">How often do you actually look at your photos from the past? Start here to collect all your photos from your different sources and start viewing them with our intuitive interface. Start by logging in with these:</p>
              <a class="btn btn-primary btn-large <%= user && user.accounts && user.accounts.dropbox ? 'disabled': '' %>" href="auth/dropbox"><i class="icon <%= user && user.accounts && user.accounts.dropbox ? 'icon-check': 'icon-check-empty' %>"></i> Dropbox</a>
        <a class="btn btn-primary btn-large <%= user && user.accounts && user.accounts.instagram ? 'disabled': '' %>" href="auth/instagram"><i class="icon <%= user && user.accounts && user.accounts.instagram ? 'icon-check': 'icon-check-empty' %>"></i> Instagram</a>
        <a class="btn btn-primary btn-large <%= user && user.accounts && user.accounts.flickr ? 'disabled': '' %>" href="auth/flickr"><i class="icon <%= user && user.accounts && user.accounts.flickr ? 'icon-check': 'icon-check-empty' %>"></i> Flickr</a>
        <a class="btn btn-primary btn-large <%= user && user.accounts && user.accounts.facebook ? 'disabled': '' %>" href="auth/facebook"><i class="icon <%= user && user.accounts && user.accounts.facebook ? 'icon-check': 'icon-check-empty' %>"></i> Facebook</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/photos/random/2" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Get those photos organized</h1>
              <p class="lead">By using our patented photo brain to help organizing your precious photos you can start getting them organized and also easily share a topic, event or time period with your friends. Start by logging in with these:</p>
              <a class="btn btn-primary btn-large <%= user && user.accounts && user.accounts.dropbox ? 'disabled': '' %>" href="auth/dropbox"><i class="icon <%= user && user.accounts && user.accounts.dropbox ? 'icon-check': 'icon-check-empty' %>"></i> Dropbox</a>
        <a class="btn btn-primary btn-large <%= user && user.accounts && user.accounts.instagram ? 'disabled': '' %>" href="auth/instagram"><i class="icon <%= user && user.accounts && user.accounts.instagram ? 'icon-check': 'icon-check-empty' %>"></i> Instagram</a>
        <a class="btn btn-primary btn-large <%= user && user.accounts && user.accounts.flickr ? 'disabled': '' %>" href="auth/flickr"><i class="icon <%= user && user.accounts && user.accounts.flickr ? 'icon-check': 'icon-check-empty' %>"></i> Flickr</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/photos/random/3" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Collect all your photos in one place</h1>
              <p class="lead">Just click the links below and we will collect and backup all your photos to one place.  Start by logging in with these:</p>
              <a class="btn btn-primary btn-large <%= user && user.accounts && user.accounts.dropbox ? 'disabled': '' %>" href="auth/dropbox"><i class="icon <%= user && user.accounts && user.accounts.dropbox ? 'icon-check': 'icon-check-empty' %>"></i> Dropbox</a>
        <a class="btn btn-primary btn-large <%= user && user.accounts && user.accounts.instagram ? 'disabled': '' %>" href="auth/instagram"><i class="icon <%= user && user.accounts && user.accounts.instagram ? 'icon-check': 'icon-check-empty' %>"></i> Instagram</a>
        <a class="btn btn-primary btn-large <%= user && user.accounts && user.accounts.flickr ? 'disabled': '' %>" href="auth/flickr"><i class="icon <%= user && user.accounts && user.accounts.flickr ? 'icon-check': 'icon-check-empty' %>"></i> Flickr</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
-->
      
  <footer id="footer">
      <div class="container marketing">

        <header class="featurette">
            <div class="container">
              <h2 class="featurette-heading"></i>Share your memories</h2>
              <p class="lead">You have thousands of photos but you can't view them easily today. We offer you a way to start enjoying all your photos and also provide a great way to share them with your friends and family.</p>
              <small>Start here! Pssst.. it's free for a year and it only takes a few seconds..</small><br>
              <a class="btn btn-confirm  btn-large <%= user && user.accounts && user.accounts.dropbox ? 'disabled': '' %>" href="auth/dropbox"><i class="icon <%= user && user.accounts && user.accounts.dropbox ? 'icon-check': 'icon-check-empty' %>"></i> Import from Dropbox</a>
              <a class="btn btn-confirm  btn-large <%= user && user.accounts && user.accounts.instagram ? 'disabled': '' %>" href="auth/instagram"><i class="icon <%= user && user.accounts && user.accounts.instagram ? 'icon-check': 'icon-check-empty' %>"></i> Import from Instagram</a>
              <a class="btn btn-confirm  btn-large <%= user && user.accounts && user.accounts.facebook ? 'disabled': '' %>" href="auth/facebook"><i class="icon <%= user && user.accounts && user.accounts.facebook ? 'icon-check': 'icon-check-empty' %>"></i> Import from Facebook</a><br>
            </div>
        </header>  

<!--
        <div class="row">
          <div class="span4">
            <h2>Complete your album</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>
          <div class="span4">
            <h2>Get overview</h2>
            <p>By carefully combining information from many sources we will help you organize your photos based on location, calendars, tagged people, photo analyzing and face recognition.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>
          <div class="span4">
            <h2>Secure storage</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>
        </div>
      -->

        <!-- START THE FEATURETTES -->


        <div class="featurette">
           <img class="featurette-image pull-left" src="/img/ipad.png">
          
          <h2 class="featurette-heading">Access all your photos<span class="muted">, everywhere</span></h2>
          <p class="lead">Why should you have to choose which photos you should have access to when you are away from home? Sync your library and you get access all your photos wherever you are.</p>
        </div>

        <hr class="featurette-divider">

        <div class="featurette">
          <img class="featurette-image pull-right" src="http://smartmobilestudio.com/wp-content/uploads/2012/06/leather-book-preview.png">

          <h2 class="featurette-heading">Auto <span class="muted">organize</span></h2>
          <p class="lead">Each photo contains many clues on how to organize them, such as dates, gps positions and faces. By carefully combining this information we make the job of organizing your library a breeze.</p>
        </div>

        <hr class="featurette-divider">

        <div class="featurette">
          
          <img class="featurette-image pull-left" src="http://www.photographybasics.info/wp-content/uploads/2012/12/camera-lens1.jpg">
          <h2 class="featurette-heading">Quality <span class="muted">matters.</span></h2>
          <p class="lead">Your photos will stay untouched. Unlike other photo services you will get your original when viewing your photos which means crisp high quality images. </p>
        </div>

        <hr class="featurette-divider">

<div class="featurette">
          
          <img class="featurette-image pull-right" src="/img/guard.png">
          <h2 class="featurette-heading">Your photos are <span class="muted">safe.</span></h2>
          <p class="lead">We use state of the art cloud technology and ensure your photos will always be backed up and stored on at least two continents as long as you are a customer*.</p>
        </div>

        <hr class="featurette-divider">
            <small>some logos of our investors and partners...</small><br>
<img src="http://unbouncepages-com.s3.amazonaws.com/welcome.challengepost.com/get-apps-built-on-your-platform/1tfwryn-customer-logos-grey2.gif">


        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->


          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>&copy; 2012 Billion Photos Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>

      </div><!-- /.container -->
    </footer>
  
  <script>
    
    $('#myCarousel .first').toggleClass('active'); // trigger ken-burns

  </script>
