
        

      
  <footer id="footer">
      <div class="container marketing">

        <header class="featurette">
            <div class="container">
              <h2 class="featurette-heading"></i>Access your memories</h2>
              <p class="lead">
                Imagine if you could access every moment in your life wherever you are in the world, as easy as you are enjoying your favorite music. Imagine a beautiful timeline filled with all your photos organized automatically for you. 
              </p>
              <small>It's super fast, and is free to try..</small><br>
              <a class="btn btn-confirm  btn-large <%= user && user.accounts && user.accounts.dropbox ? 'disabled': '' %>" href="auth/dropbox"><i class="icon <%= user && user.accounts && user.accounts.dropbox ? 'icon-check': 'icon-check-empty' %>"></i> Import from Dropbox</a>
              <a class="btn btn-confirm  btn-large <%= user && user.accounts && user.accounts.instagram ? 'disabled': '' %>" href="auth/instagram"><i class="icon <%= user && user.accounts && user.accounts.instagram ? 'icon-check': 'icon-check-empty' %>"></i> Import from Instagram</a>
              <a class="btn btn-confirm  btn-large <%= user && user.accounts && user.accounts.facebook ? 'disabled': '' %>" href="auth/facebook"><i class="icon <%= user && user.accounts && user.accounts.facebook ? 'icon-check': 'icon-check-empty' %>"></i> Import from Facebook</a><br>
            </div>
        </header>  

        <!-- START THE FEATURETTES -->
        <div class="featurette">
          <h2 class="featurette-heading">Easiest way to <span class="muted">upload</span></h2>

          <p class="lead">Plug in your USB drive or SD card and just drag the photo folder to this site and within minutes you have a new home for all your photos. Activate our social importers and automatically sync your photos from Facebook, Instagram and Dropbox. We will not alter your photos or spam your wall.</p>
        </div>

        <hr class="featurette-divider" data-speed="15" data-offset="200" style="background: url(http://www.minhaserie.com.br//images/highlights/000/008/907/10320.jpg);">

        <div class="featurette">
          <h2 class="featurette-heading"><span class="muted">Share </span> with friends and family</h2>
          <p class="lead">To share photos one by one is a thing of the past. With our timesharing feature you can share all photos within a time range and that way help completing your friends and family's photo albums automatically. Great for gathering all photos from holiday trips and weddings etc. As a bonus you will also get their photos from the same time period.</p>
        </div>

        <hr class="featurette-divider" data-speed="15" data-offset="200" style="background: url(/img/people-orange.jpg);">

        <div class="featurette">
          <img class="featurette-image pull-right" src="http://smartmobilestudio.com/wp-content/uploads/2012/06/leather-book-preview.png">

          <h2 class="featurette-heading">Auto <span class="muted">organize</span></h2>
          <p class="lead">We organize your photos, by combining information from the photos (such as date, location, faces etc) with your behavior (click patterns etc) and also information from Social media (likes etc)s. We make the job of organizing your library a breeze.</p>
        </div>

        <hr class="featurette-divider" data-speed="10" data-offset="500" style="background: url(/img/camera-caroline-maria-friends-green-spring-Favim.com-227694.jpg); height: 800px">

        <div class="featurette">
          
          <img class="featurette-image pull-left" src="/img/Aperture-icon.png">
          <h2 class="featurette-heading">Quality <span class="muted">matters.</span></h2>
          <p class="lead">Your photos will stay untouched*. Unlike other photo services you will get your original when viewing your photos which means crisp high quality images. </p>
        </div>
        <hr class="featurette-divider" data-speed="10" data-offset="200" style="background: url(/img/Retina-macbook-pro-2.jpg); height: 500px">


        <div class="featurette">
           <img class="featurette-image pull-left" src="/img/ipad.png">
          
          <h2 class="featurette-heading">Access all your photos,<span class="muted"> everywhere</span></h2>
          <p class="lead">We believe you want to always have access not only the latest or best photos. Sync your library and you get access all your photos from all your devices.</p>
        </div>

        <hr class="featurette-divider" data-speed="10" data-offset="600" style="background: url(http://upload.wikimedia.org/wikipedia/commons/d/d7/CERN_Server_03.jpg); height: 500px">


<div class="featurette">
          
          <img class="featurette-image pull-right" src="/img/guard.png">
          <h2 class="featurette-heading">You are <span class="muted">safe</span> with us</h2>
          <p class="lead">We keep original, full resolution photos. You will never have to worry about photo backup again. Your photos are safe with us for years and years.</p>
        </div>

        <hr class="featurette-divider">
            <small>some logos of our investors and partners...</small><br>
<img src="http://unbouncepages-com.s3.amazonaws.com/welcome.challengepost.com/get-apps-built-on-your-platform/1tfwryn-customer-logos-grey2.gif">


        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->


          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>&copy; 2012 Billion Photos Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>

      </div><!-- /.container -->
    </footer>
  
  <script>
    /*
    window.setInterval(function(){

      $('.featurette, .featurette-divider').css('backgroundPosition',  function(){
        var position = -Math.round(window.pageYOffset/($(this).data('speed')||5)) + $(this).data('offset');
        return '0px ' + position + 'px'
      });
    }, 25);
*/
  </script>
