<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    
    <meta   name="viewport" content="initial-scale=1.0">
 
    <meta   name="apple-mobile-web-app-capable" content="yes" />
    <meta   name="description" content="<%= description %>">
    <meta   name="author" content="<%= author %>">
    <meta   name="apple-mobile-web-app-title" content="All Photos">
    <link   rel="apple-touch-icon" href="/img/icon.png"/>
    <link   rel="shortcut icon" href="/img/icon.png" type="image/png">
 
    <link   href="/build/css/assets.css" rel="stylesheet">
    <link   href="/build/css/app.css" rel="stylesheet">
    <script src="/build/js/assets.js"></script>
  </head>

  <body ng-controller="AppController">


    <div class="navbar-wrapper  navbar-inverse">
      <div class="navbar navbar-inner navbar-static-top container">
        <div class="">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">
            <img src="/img/phtos.png" alt="All Your Photos" title="All Your Photos">
          </a>
          <div class="nav-collapse">
            <ul class="nav">
             <%if (user) {%>
               <li><a href="/me/wall#wall">Photo wall</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Import photos<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/auth/dropbox" ng-disabled="stats.dropbox">Dropbox {{stats.dropbox && '(' + stats.dropbox + ')'}}</a></li>
                  <li><a href="/auth/instagram">Instagram</a></li>
                  <li><a href="/auth/flickr">Flickr</a></li>
                  <li><a href="/auth/facebook">Facebook</a></li>
                  <li><a href="#upload" role="button" data-toggle="modal">Folder upload</a></li>
                </ul> 
              </li>

             <%} else {%>
               <li><a href="pricing">Pricing</a></li>
             <%}%>

             <li class="about"><a href="/about">About</a></li>

            </ul>
            <ul class="nav pull-right">
            <%if (user) {%>  
               <li class="pull-right"><a href="/logout">
                <%if (user && user.accounts && user.accounts.facebook) {%>
                <img src="//graph.facebook.com/<%= user.accounts.facebook.id%>/picture" width="22" height="22" class="me">
               <% }%>Logout</a></li>
            <%} else {%>
               <li>
                <a href="#login" role="button" data-toggle="modal">
                  <span ng-click="register = false">Login</span>
                  <span ng-click="register = true">or register</span>
                </a>
              </li>
            <%}%>
            </ul>
          </div>

        </div>
      </div>

    </div>

      <%- body %>


      <div class="container">

      <div id="login" class="modal hide login container" ng-controller="LoginController"> 

          <div class="modal-header">
            <h1>
              {{!register && 'Login' || 'Register account'}}
              <a class="close" data-dismiss="modal" href="/me/wall" >&times;</a>
            </h1>
            <p class="lead">
              Use your email or our social login button. We respect your privacy.
            </p>
          </div>
          <div class="modal-body" >

            <div class="span4">
              <form class="well clearfix" action="{{register && '/register' || '/login'}}" method="post">
                <input class="span3" type="email" autofocus required ng-model="username" name="username" placeholder="Your email">
                <input class="span3" type="password" required pattern=".{4,}" ng-model="password" name="password" placeholder="{{ register && 'Choose Password' || 'Your Password'}}">
                <input class="span3" type="password" ng-show="register" pattern=".{4,}" ng-model="password2" placeholder="Repeat password">

                <input type="submit" class="btn span3 pull-left btn-success" value="Login" ng-show="!register" ng-click="submit">

                <label ng-show="register"><input type="checkbox" ng-model="agree"> I agree with the terms &amp; conditions</a>
                <input type="submit" class="btn span3 pull-left btn-success" value="Register" ng-show="register" ng-click="submit">

              </form>

            </div>
            <div class="span3 ">
              <h1>or..</h1>
              <a class="btn span3 btn-large" href="/auth/facebook" onclick="window.location = this.href; event.preventDefault();"><i class="icon icon-facebook"></i> Facebook</a>
              <a class="btn span3 btn-large" href="/auth/twitter" onclick="window.location = this.href; event.preventDefault();"><i class="icon icon-twitter"></i> Twitter</a>
            </div>

          </div>


          <div class="modal-footer">
            <a href="/" class="btn btn-large pull-right" >Close</a>
          </div>
        </div>


      <div id="upload" class="modal hide" ng-cloak ng-controller="UploadController" dropzone> 

        <div class="modal-header">
          <h1>
            Upload Photos to Your Timeline
            <a class="close" data-dismiss="modal" href="/me/wall" >&times;</a>
          </h1>
          <p class="lead">
            Drag and drop your photos or folders below. If you have many folders, just add them all. If you get interrupted, try again and we will continue where you left off. All duplicates will be ignored.
          </p>
        </div>
        <div id="dropzone" class="dropzone media modal-body" >
        
          <div class="instructions" ng-show="!files.length">
            <i class="icon-folder-open icon-4x pull-left" > </i>
            <label> Drag and drop a photo folder or SD card here...
              <input ng-show="true" class="btn-large span3 btn-success" type="file" id="directoryinput" multiple webkitdirectory ng-model="selectedFolder" ng-change="fileChange">
            </label>
          </div>
          <ul class="media-list">
            <li class="media {{file.state}}" ng-repeat="file in files">
              <img ng-src="{{file.thumbnail}}" ng-cloak ng-show="file.thumbnail"/>
              <div class="media-body">
                <div class="progress progress-striped {{file.state == 'Uploading' && 'active' || ''}}">
                  <div title="{{file.error}}" class="bar {{file.state == 'Error' && 'bar-danger' || file.state == 'Done' && 'bar-success' || ''}}" style="width: {{file.progress || 0}}%;">{{file.state}}</div>
                </div>
              </div>
            </li>
          </ul>

        </div>
        <div class="modal-footer">
          <div class="span2 pull-left" ng-show="uploading"><input type="range" min="0" max="10" ng-model="channels"> 
            {{channels}} upload channels
          </div>

          <div class="span4 pull-left alert" ng-show="!uploading">
            You may need <a href="http://google.com/chrome">Google Chrome</a> to use this feature.
          </div>
          <a href="#" class="btn btn-large {{uploading && 'btn-danger' || 'btn-success'}} pull-right ng-binding" ng-disabled="!files.length" ng-click="uploading = !uploading">{{(queue.length && 'Uploading ' + files.length + " photos...") || "Upload"}}</a>
        </div>

      </div>

    </div>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37801866-1']);
      _gaq.push(['_setDomainName', 'allyourphotos.org']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

    </script>

    <script src="/build/js/app.js"></script>

    <script src="https://google-analytics.com/ga.js" async="true"></script>
  </body>
</html>
    
  </body>
</html>